.waifu-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.waifu-table thead tr th,
.waifu-table td {
    border: 1px solid #cccccc;
    padding: 8px;
}

.waifu-table thead tr th {
    font-size: 300%;
    background-color: black;
    color: white;
}

.waifu-table th {
    font-weight: bold;
    text-transform: uppercase;
}

/* Every other table entry, make the bg gray */
.waifu-table tr:nth-child(odd) {
    background-color: #dddddd;
}

.waifu-table tr:nth-child(even) {
    background-color: #ffffff;
}

.waifu-table tr td {
    font-size: 300%;
    text-align: center;
}